# Telegram bot token from @BotFather
BOT_TOKEN=8953124662:AAFI-miNSbQ0pxqbevydHq5QuqQhKJeV2d4

# Your Telegram numeric ID
ADMIN_ID=8825662141
# Optional: admin's Telegram username (without @). If set, support link will use it.
# ADMIN_USERNAME=your_username

# Private channel ID, usually starts with -100
CHANNEL_ID=-1004446235577

# 3 payment requisites
PAYMENT_RU=+79539792694 alfa bank
PAYMENT_UZ=5614 6822 1746 2417
Bahriddin M
PAYMENT_KG=+996555984020 mbank шерзодбек м

# Fixed prices
PRICE_RU=700 ₽
PRICE_UZ=60 000 сум
PRICE_KG=500 сом

# One-time invite expiration
INVITE_EXPIRE_MINUTES=60
